<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="icon" href="img/favicon.png" type="image/png"> -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css">
<!-- <link rel="stylesheet" href="{% static "mdb/css/mdb.css" %}"> -->
  <title>Log In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Crete+Round&display=swap" rel="stylesheet">

</head>
<body style="background-image: url('img/registration/email-pattern.png') ;">  <!-- class="bg-success" -->
  <div class="container" style="margin-top:8vh;">
    <div class="row">
      <div class="col-md-3 col-sm-2 col-1">
      </div>
      <div class="col-md-6 col-sm-8 col-10">
        <div class="card m-5 z-depth-3 bg-transparent">
          <!--style="background-image: url('{% static 'registration/prism/prism.png' %}') ;"-->
          <!-- <div class="card-header"> -->
            <h5 class="card-header font-weight-normal text-center stylish-color white-text"
                      style="font-family: 'Crete Round', serif;">Login</h5>
          <!-- </div> -->
          <div class="card-body">
            <form method="post">
                  <div class="md-form md-bg">
                    <label for="id_username" class="font-weight-normal"> Username </label>
                    <input class="form-control" type="text" id="id_username" name="username"
                              required="True">
                      <small class="form-text form-text-muted">Please type you user name.</small>
                  </div>
                   <div class="md-form md-bg">
                     <label for="id_password" class="font-weight-normal">Password</label>
                      <input class="form-control" type="password" id="id_password" name="password"
                                 required="True">
                        <small class="form-text form-text-muted">Please type you user password.</small>

                  <button type="submit" class="btn btn-primary btn-rounded">Log In</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script
  			  src="https://code.jquery.com/jquery-3.4.1.min.js"
  			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
<!-- <script type="text/javascript" src="{% static "mdb/js/mdb.js" %}"></script> -->
</body>
